html, body {
	margin: 0;
	padding: 0;
	background-color: #333;
	color: #fff;
	font-family: "HelveticaNeue"
}
body {
	text-align: center;
}
.logo {
	margin: 120px auto 80px auto;
}
.logo img {
	width: 60%;
}
audio {
	color: #1F1F21;
}


.now_playing {
	text-align: left;
	margin-bottom: 20px;
}
.now_playing label {
	display: block;
	margin-left: 10px;
}
.media {
	background-color: #444;
	padding: 10px;
	position: relative;
	margin: 10px;
}
.media img {
	width: 64px;
	height: 64px;
	margin-right: 10px;
	float: left;
}
