html, body {
	margin: 0;
	padding: 0;
	background-color: #333;
	color: #fff;
	font-family: "HelveticaNeue", Verdana, Geneva, sans-serif;
}
body {
	text-align: center;
}
.logo {
	margin: 120px auto 80px auto;
}
.logo img {
	width: 60%;
}
audio {
	color: #1F1F21;
}


.now-playing {
	text-align: left;
	margin: 0px 20px 20px 20px;
}
.now-playing label {
	display: block;
}

.play-history {
	text-align: left;
	margin: 50px 20px 20px 20px;
}
.play-history label {
	display: block;
}
.play-history .history-wrapper {
	max-height: 360px;
	overflow: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}


.song-box {
	background-color: #444;
	border: 1px solid #666;
	border-radius: 3px;
	padding: 8px;
	position: relative;
	margin: 5px 0px;
	overflow: auto;
	font-size: 13px;
}
.song-box img {
	width: 64px;
	height: 64px;
	margin-right: 10px;
	float: left;
}
.song-box .title {
	font-weight: bold;
}
