html, body {
	margin: 0;
	padding: 0;
	background-color: #333;
	color: #fff;
	font-family: "HelveticaNeue"
}
body {
	text-align: center;
}
.logo {
	margin: 120px auto 80px auto;
}
.logo img {
	width: 60%;
}
audio {
	color: #1F1F21;
}


.now-playing {
	text-align: left;
	margin-bottom: 20px;
}
.now-playing label {
	display: block;
	margin-left: 10px;
}
.song-box {
	background-color: #444;
	border: 1px solid #666;
	border-radius: 3px;
	padding: 8px;
	position: relative;
	margin: 4px 10px 30px 10px;
	overflow: auto;
	font-size: 14px;
}
.song-box img {
	width: 64px;
	height: 64px;
	margin-right: 10px;
	float: left;
}
