
<div class="desktop-msg">For the complete experience, visit http://unplugd.io/ on your mobile.</div>

<div class="center-device">

	<div class="marvel-device iphone6 silver">
		<div class="pre"></div>
	    <div class="top-bar"></div>
	    <div class="sleep"></div>
	    <div class="volume"></div>
	    <div class="camera"></div>
	    <div class="sensor"></div>
	    <div class="speaker"></div>
	    <div class="screen">
	    	<iframe src="/?embed=1" frameborder="0"></iframe>
	    </div>
	    <div class="home"></div>
	    <div class="bottom-bar"></div>
	    <div class="post"></div>
	</div>

	<a class="sig" href="http://corgui.com/" title="Made with <3 by CorGui" target="_blank">Corgui.com</a>

</div>

