	<meta name="viewport" content="initial-scale=1, maximum-scale=1">


	<div class="logo"><img src="http://tastycat.net/images/tastycatheader.png"></div>

	<div class="now_playing">
		<label>Now Playing</label>
		<div class="media">
			<img src="">
			<div class="title"></div>
			<div class="author"></div>
			<div class="duration"></div>
		</div>
	</div>

    <audio controls autoplay>
      <source src="http://104.236.41.91:8000/tastycat" />
    </audio>

	<p>Press "Play" to Tastycat</p>



<script type="text/javascript" src="/javascript/player.js"></script>
<link rel="stylesheet" type="text/css" href="/css/player.css">
