
	<div class="player-container">
	    <audio id="audio" controls>
	      <source src="http://50.7.71.27:9535/live" />
	    </audio>
	</div>

	<div class="playlist-container">

	</div>


	<script id="playlist-item-template" type="text/x-handlebars-template">
		<div class="playlist-item">
			<div class="backdrop"><img src="\{{imgSrc}}" /></div>
			<div class="top-label"></div>
			<div class="bottom-label">\{{title}}</div>
		</div>
	</script>

