	<style>
		body {
			background-color: transparent;
			color: white;
			margin: 0;
			padding: 0;
		}
		.text {
			display: block;
			width: 620px;
			height: 120px;
		}
		.text span {
			display: block;
			margin: 25px;
			text-align: center;
			color: #333;
			font-size: 20px;
		}
		.alert {
			color: red;
			display: block;
			position: absolute;
			background-color: #8AC007;
			top: 0;
			left: 0;
			width: 600px;
			margin: 0 10px;
			margin-top: -80px;
			transition: margin 0.7s ease-in-out;
			border-bottom-left-radius: 0.5em;
			border-bottom-right-radius: 0.5em;
		}
		.alert span {
			display: block;
			line-height: 150%;
			color: #fff;
			font-size: 28px;
			text-align: center;
		}
		.alert.open {
			margin-top: 0;
		}

		.display-modes {

		}
		.display-modes .mode {
			display: none;
		}
	</style>



	<div class="display-modes">

		<div class="mode subscriber-alert">
			<div class="textz" id="new-subscriber"></div>
		</div>
		<div class="mode img">
			<img src="" />
		</div>
		<div class="mode text">
			<span></span>
		</div>

		<div class="alert">
			<span></span>
		</div>

	</div>

	<script type="text/javascript" language="javascript">

 // Let us open a web socket
 var ws = new WebSocket(location.origin.replace(/^http/, 'ws'));
 ws.onopen = function()
 {
    // Web Socket is connected, send data using send()
    ws.send("Message to send");
 };

 ws.onclose = function()
 {
    // websocket is closed.
    alert("Connection is closed...");
 };


ws.onmessage = function (event) {
	console.log('MESSAGE:', event);
};

	</script>
