	<meta name="viewport" content="initial-scale=1, maximum-scale=1">


	<div class="logo"><img src="http://tastycat.net/images/tastycatheader.png"></div>

	<div class="now-playing">
		<label>Now Playing</label>
		<div class="now-playing-wrapper">

		</div>
	</div>

    <audio controls>
      <source src="http://104.236.41.91:8000/tastycat" />
    </audio>

	<p>Press "Play" to Tastycat</p>


	<div class="play-history">
		<label>Play History</label>
		<div class="history-wrapper">

		</div>
	</div>


<script id="song-template" type="text/x-handlebars-template">
	<div class="song-box">
		<img src="\{{imgSrc}}">
		<div class="title">\{{title}}</div>
		<div class="author">\{{author}}</div>
		<div class="duration">\{{time}}</div>
	</div>
</script>


<script type="text/javascript" src="/javascript/handlebars-v2.0.0.js"></script>
<script type="text/javascript" src="/javascript/player.js"></script>
<link rel="stylesheet" type="text/css" href="/css/player.css">
