<!DOCTYPE html>
<html{{#if namespace}} class="{{namespace}}"{{/if}} lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Unplugd</title>
		<!-- Fonts -->
		<link rel="stylesheet" type="text/css" href="/css/vendor/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,800,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<!-- Our styles -->
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<!-- Require -->
		<script src="/bower_components/requirejs/require.js" type="text/javascript"></script>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>

	</head>
	<body>
		{{{body}}}
	</body>
</html>
