<!DOCTYPE html>
<html{{#if namespace}} class="{{namespace}}"{{/if}} lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Unplugd</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

		<script src="/socket.io/socket.io.js"></script>

	</head>
	<body>
		{{{body}}}
	</body>
</html>
